*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: #202020;}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansBold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body{
        font-family:GmarketSansLight;
        font-size: 15px;
        line-height: 21px;
        color: #202020;
        min-width: 1320px;
    }

    /*h2 폰트 고정부분*/
h2{
    font-family:'GmarketSansBold';
    font-size: 26px;
    line-height: 36px;
}

/*페이지1*/
#header{
    height: 200px;
    background-color: #fff8f6;
  }
  .header_inner{
    width: 1320px;
    margin: 0 auto;
  }
  .logo{
    display: block;
    text-align: center;
    padding: 40px 0 45px;
  }
  .login{
    float: left;
    padding-left: 200px;
  }
  .login li{
    float: left;
  }
  .login li a{
    display: block;
    color: #704b31;
    padding-right: 30px;
    font-family:'GmarketSansMedium';
    font-size: 10.5px;
  }
  .login li .orange{
    display: block;
    color: #ed7625;
  }
  .nav{
    float: right;
    padding-right: 200px;
  }
  .nav li{
    float: left;
  }
  .nav li a{
    display: block;
    color:#704b31;
    padding-left: 100px;
    font-family: 'GmarketSansMedium';
    font-size: 15px;
  }
  
  /*메인배너*/
  .contact_bg{
    width: 1920px;
    height: 250px;
    margin: 0 auto;
   background: url(../images/sub5_contact/banner.jpg) no-repeat;
  }

/*페이지2*/
.login_inner{
    width: 1320px;
    height: 800px;
    margin: 0 auto;
    padding: 120px 0;
    text-align: center;
}
.login_inner h1{
    font-family: 'GmarketSansMedium';
    font-size: 40px;
    padding-bottom: 40px;
}
.form{
    width: 460px;
    margin: 0 auto;
}
input[type=text]{
    margin-top: 30px;
}
input[type=text], input[type=password] {
    width: 454px;
    height: 50px;
    border: 2px solid #e1e1e1;
    margin-bottom: 10px;
    padding-left: 5px;
}
.bt_login{
    width: 454px;
    height: 60px;
    border: none;
    background-color: #202020;
    font-size: 22px;
    color: #ffffff;
}
input::placeholder{
    color: #e1e1e1;
    font-size: 20px;
}

.wrap{
  width: 550px;
  margin: auto;
}
.wrap h2{
  font-family: 'GmarketSansLight';
  font-size: 22px;
  padding: 50px 0 20px;
}
.wrap li{
  float: left;
  width: 15%;
  height: 44px;
  margin-bottom: 70px;
}
.wrap li:nth-child(1){
  margin-left: 20%;
}
.wrap .bt_join{
  width: 550px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: #ee7625;
  font-size: 18px;
  color: #ffffff;
}
.wrap .bt_join span{
  font-family: 'GmarketSansMedium';
  font-size: 20px;
  padding-left: 5px;
}

/*푸터*/
#footer{
  background-color: #292b2c;
}
.footer_inner{
  width: 1320px;
  height: 210px;
  margin: auto;
  padding: 65px 0 50px 0;
}
.left{
  float: left;
  width: 700px;
}
.right{
  float: right;
  width: 400px;
  padding-right: 70px;
}
.f_logo{
  display: block;
  float: left;
  padding-left: 150px;
}
.footer_inner .f_text_left{
  float: left;
  color: #fff;
  padding-left: 35px;
  font-size: 13px;
}
.f_text_right li{
  float: left;
  margin-left: 15px;  /*0px이 아니고서야 아래로 내려감*/
  padding-bottom: 45px;
}
.f_text_right li a{
  display: block;
  color: #fff;
  font-size: 13px;
  text-align: right;
}
.right p{
  font-family:'GmarketSansBold';
  font-size: 13px;
  color: #fff;
  text-align: right;
  clear: both;
}