*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: #202020;}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansBold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'yg-jalnan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body{
        font-family:GmarketSansLight;
        font-size: 15px;
        line-height: 21px;
        color: #202020;
        min-width: 1320px;
    }

    /*h2 폰트 고정부분*/
h2{
    font-family:'GmarketSansBold';
    font-size: 26px;
    line-height: 36px;
}

/*페이지1*/
#header{
  height: 200px;
  background-color: #fff8f6;
}
.header_inner{
  width: 1320px;
  margin: 0 auto;
}
.logo{
  display: block;
  text-align: center;
  padding: 40px 0 45px;
}
.login{
  float: left;
  padding-left: 200px;
}
.login li{
  float: left;
}
.login li a{
  display: block;
  color: #704b31;
  padding-right: 30px;
  font-family:'GmarketSansMedium';
  font-size: 10.5px;
}
.login li .orange{
  display: block;
  color: #ed7625;
}
.nav{
  float: right;
  padding-right: 200px;
}
.nav li{
  float: left;
}
.nav li a{
  display: block;
  color:#704b31;
  padding-left: 100px;
  font-family: 'GmarketSansMedium';
  font-size: 15px;
}

/*메인배너*/
.news_bg{
  width: 1920px;
  height: 250px;
  margin: 0 auto;
  background: url(../images/sub4_news/banner.jpg) no-repeat ;
}

/*페이지2*/
#new{
  height: 800px;
}
.new_inner{
  width: 1320px;
  height: 800px;
  margin: 0 auto;
  padding: 120px 0 200px;
  text-align: center;
  box-sizing: border-box;
}
.new_inner h2{
  padding-bottom: 20px;
}
.new_banner li{
  float: left;
}
.new_banner li:nth-child(1) {
  margin: 150px 37px 0 100px;
}
.new_banner li:nth-child(2) {
  margin: 150px 100px 0 37px;
}


/*페이지3*/
#news{
  background: url(../images/sub4_news/news_bg.jpg) no-repeat;
}
.news_inner{
  width: 1320px;
  height: 900px;
  margin: 0 auto;
  padding-top: 300px;
  text-align: center;
}
.news_inner ul{
  width: 916px;
  margin: 0 auto; /*좌우 200px*/
  background-color: #202020;
}
.news_inner ul li{
  float: left;
  width: 33.33%;
  position: relative;
}
.news_inner ul li a{
  display: block;
  color: #fff8f6;
  font-size: 20px;
}
.news_inner ul li:nth-child(1) p{
  position: absolute;
  bottom: 18px;
  left: 80px;
}
.news_inner ul li:nth-child(2) p{
  position: absolute;
  bottom: 18px;
  left: 80px;
}
.news_inner ul li:nth-child(3) p{
  position: absolute;
  bottom: 18px;
  left: 120px;
}

/*페이지4*/
#review{
  height: 740px;
}
.review_inner{
  width: 1320px;
  height: 740px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.review_inner h2{
  padding-bottom: 20px;
}
.review_inner ul{
  width: 1080px;
  height: 380px;
  margin: 80px auto;
}
.review_inner ul li{
  float: left;
  width: 500px;
  height: 170px;
  border: 3px solid #eaeaea;
  padding: 20px;
}
.img{
  width: 160px;
  height: 130px;
  float: left;
  margin-right: 20px;
}
.text{
  width: 270px;
  height: 130px;
  float: left;
}

.review_inner ul li:nth-child(1){
  margin-right: 80px;
  background-color: #eaeaea;
  border-style: none;
}
.review_inner ul li:nth-child(3){
  margin: 40px 80px 0 0;
}
.review_inner ul li:nth-child(4){
  margin-top:40px;
  background-color: #eaeaea;
  border-style: none;
}

.review_inner ul li .title{
  display: block;
  text-align: left;
  font-family: 'GmarketSansMedium'
}
.review_inner ul li p{
  text-align: left;
}


/*푸터*/
#footer{
  background-color: #292b2c;
}
.footer_inner{
  width: 1320px;
  height: 210px;
  margin: auto;
  padding: 65px 0 50px 0;
}
.left{
  float: left;
  width: 700px;
}
.right{
  float: right;
  width: 400px;
  padding-right: 70px;
}
.f_logo{
  display: block;
  float: left;
  padding-left: 150px;
}
.footer_inner .f_text_left{
  float: left;
  color: #fff;
  padding-left: 35px;
  font-size: 13px;
}
.f_text_right li{
  float: left;
  margin-left: 15px;  /*0px이 아니고서야 아래로 내려감*/
  padding-bottom: 45px;
}
.f_text_right li a{
  display: block;
  color: #fff;
  font-size: 13px;
  text-align: right;
}
.right p{
  font-family:'GmarketSansBold';
  font-size: 13px;
  color: #fff;
  text-align: right;
  clear: both;
}