*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color: #202020;}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
font-family: 'GmarketSansBold';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
font-weight: normal;
font-style: normal;
    }
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
body{
    font-family:GmarketSansMedium;
    font-size: 14px;
    line-height: 21px;
    color: #5a5a5a;
    min-width: 1320px;
    font-weight: 100;
    }
    /*h2 폰트 고정부분*/
h2{
    font-family:'GmarketSansBold';
    font-size: 26px;
    line-height: 36px;
    color: #202020;
}
/*페이지1*/
#header{
    height: 200px;
    background-color: #fff8f6;
}
.header_inner{
    width: 1320px;
    margin: 0 auto;
}
.logo{
    display: block;
    text-align: center;
    padding: 40px 0 45px;
}
.login{
    float: left;
    padding-left: 200px;
}
.login li{
    float: left;
}
.login li a{
    display: block;
    color: #704b31;
    padding-right: 30px;
    font-size: 13px;
}
.login li .orange{
    display: block;
    color: #ed7625;
}
.nav{
    float: right;
    padding-right: 200px;
}
.nav li{
    float: left;
}
.nav li a{
    display: block;
    color:#704b31;
    padding-left: 95px;
    font-family: 'GmarketSansMedium';
    font-size: 17px;
}

/*메인배너*/
.menu_bg{
    height: 250px;
    margin: 0 auto;
    background: url(../images/sub2_menu/banner.jpg) no-repeat;
}

/*페이지2*/
#menu{
    height: 750px;
}
.menu_inner{
    width: 1320px;
    margin: 0 auto;
    padding: 85px 0 175px 0;
}
.button{
    float: left;
}
.menu_box{
    float: left;
}
.menu_button li{
    float: left;
    width: 150px;
    height: 50px;
    border: 2px solid #c5c5c5 ;
    border-radius: 30px;
    margin: 0 20px 50px 0;
}
.menu_button li a{
    display: block;
    text-align: center;
    /*padding: 14px 0;*/
    line-height: 50px; /*line-height로 높이 맞추기*/
    font-size: 22px;
}
.menu_button li:nth-child(1){
    background-color: #ed7625;
    border: none;
    margin-left: 100px; /*왼쪽 100px 띄웠음*/
}
.menu_button li:nth-child(1) a{
    display: block;
    color: #ffffff;
} /*여기까지 버튼줄 완성*/

/*밑의 설명박스*/
.menu_box{
    margin-left: 100px;
}
.menu_text{
    float: left;
    width: 420px;
}
.menu_text p{
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
}
.menu_bold{
    font-family: 'yg-jalnan';
    font-size: 50px;
    color: #202020;
}
.bbold{
    color: #ed7625;
} /*<-여기까지 왼쪽*/

.menu_img{
    float: right;
    width: 450px;
    height: 330px;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    border-radius: 180px 180px 0 0;
    margin: 50px 0 0 220px;
    position: relative; /*기준점*/
}
.bbbold{
    display: block;
    font-family:'yg-jalnan';
    font-size: 23px;
    line-height: 30px;
    padding: 30px 0 10px;
    color: #eab000;
}
.menu_img p:nth-child(2){
    font-size: 15px;
    padding-bottom: 20px;
}
.menu_img :nth-child(4){
    position: absolute;
    top: 50%;
    left: -70px;
}
.menu_img :nth-child(5){
    position: absolute;
    top: 50%;
    right: -70px;
    }
    

/*푸터*/
#footer{
    background-color: #292b2c;
}
.footer_inner{
    width: 1320px;
    height: 210px;
    margin: auto;
    padding: 65px 0 50px 0;
    box-sizing: border-box;
}
.left{
    float: left;
    width: 700px;
}
.right{
    float: right;
    /*width: 400px;*/
    padding-right: 70px;
}
.f_logo{
    display: block;
    float: left;
    padding-left: 150px;
}
.footer_inner .f_text_left{
    float: left;
    color: #fff;
    padding-left: 35px;
    font-size: 13px;
    font-family: 'GmarketSansLight';
}
.f_text_right li{
    float: left;
    margin-left: 15px;
    padding-bottom: 45px;
}
.f_text_right li a{
    display: block;
    color: #fff;
    font-size: 13px;
    font-family: 'GmarketSansLight';
    text-align: right;
}
.right p{
    font-family:'GmarketSansBold';
    font-size: 13px;
    color: #fff;
    text-align: right;
    clear: both;
}
